p {
	 font-size: 18px;
	 font-family: 'Prompt', sans-serif;
	 color: #E6E0CB;
 }
 h1{
	 font-family: 'Prompt', sans-serif;
	 color: #E6E0CB;
 }

#iconsRRSS {
	size: 0,5em !important;
	margin-top: 2em !important;
	margin-bottom: 2em !important;
	text-align: center;
}

.myMargins1 {
	/*margin-bottom: 80px;*/
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
}
#luisPhoto {
	width: 15em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
		margin-bottom: 2em;
    border-radius: 10em;

}

.header {
	background: url(img/blackWood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}
